@import 'settings';
@import 'foundation-emails';

td {
  word-break: keep-all;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.colored {
  background-color: $success-color;
  img {
    height: 174px !important;
  }
}

h2 {
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: $black;
}

h1 {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'esqmarket', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 36px;
  color: #000;
}

.ul {
  .li {
    td {
      padding-bottom: 24px;
    }
  }

  .icon {
    width: 20px;
    padding-right: 17px;
  }
}

.divider {
  border-bottom: 1px solid #ebedef;
}

.footer {
  background-color: $light-gray;
  color: #5f6a7c !important;

  * {
    font-size: 11px !important;
    line-height: 20px;
    letter-spacing: 1px;

    &.dark {
      font-family: 'esqmarket-medium', Helvetica, Arial, sans-serif;
      color: $secondary-color;
    }
  }
}

div.colored,
div.footer {
  width: 90%;
}

div.colored {
  padding-bottom: 44px;
}

div.footer {
  padding-top: 31px;
}

@media screen and (min-width: $global-breakpoint) {
  div.colored,
  div.footer {
    width: auto;
  }

  div.colored {
    padding-bottom: 40px;
  }

  div.footer {
    padding-top: 33px;
  }
}
