<div class="footer">
  <container>
    <row>
      <columns class="footer">
        <p class="dark text-center">© 2019 SQUARE CAPITAL LLC</p>
        <p class="text-center">1455 MARKET STREET, SUITE 600, MSC 717, SAN FRANCISCO, CA 94103</p>
        <spacer size="16"></spacer>
        <p class="text-center">
          <a href="#" class="dark">UNSUBSCRIBE</a> OR <a href="#" class="dark">MANAGE&nbsp;YOUR&nbsp;PREFERENCES</a></p>
        <spacer size="21"></spacer>
        <center>{{> logo-fragment}}</center>
        <spacer size="24"></spacer>
      </columns>
    </row>
  </container>
</div>